appdirs==1.4.4+computecanada
certifi==2021.10.8+computecanada
charset_normalizer==2.0.7+computecanada
cycler==0.11.0+computecanada
Deprecated==1.2.13
idna==3.3+computecanada
imageio==2.9.0+computecanada
importlib_metadata==4.8.1+computecanada
joblib==1.1.0+computecanada
jsonpatch==1.31+computecanada
jsonpointer==2.0+computecanada
kiwisolver==1.3.1+computecanada
matplotlib==3.4.2+computecanada
meshio==4.0.16+computecanada
numpy==1.21.2+computecanada
pandas==1.3.0+computecanada
Pillow==8.4.0+computecanada
Pillow-SIMD==7.0.0.post3+computecanada
pymeshfix==0.15.0
pyparsing==3.0.6+computecanada
python-dateutil==2.8.2+computecanada
pytz==2021.3+computecanada
pyvista==0.32.1
pyzmq==22.1.0+computecanada
requests==2.26.0+computecanada
Rtree==0.9.4+computecanada
scikit_learn==1.0.1+computecanada
scipy==1.7.1+computecanada
scooby==0.5.6+computecanada
six==1.16.0+computecanada
threadpoolctl==3.0.0+computecanada
thundersvm==0.3.12
torch==1.10.0+computecanada
torchfile==0.1.0+computecanada
torchsummary==1.5.1+computecanada
torchvision==0.11.1+computecanada
tornado==6.1+computecanada
trimesh==3.8.3+computecanada
typing_extensions==4.0.0+computecanada
urllib3==1.26.7+computecanada
vedo==2021.0.7
visdom==0.1.8.9+computecanada
vtk==9.0.1+computecanada
websocket_client==1.2.1+computecanada
wrapt==1.12.1+computecanada
zipp==3.6.0+computecanada
